{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <div class="content-wrapper">
            <h1>Добро пожаловать на сайт Praxis DBT-Team!</h1>
            <p>Вы можете узнать больше о нашей команде, записаться на консультацию или пройти психологические тесты.</p>
            <a href="#appointment" class="btn">Записаться на приём</a>
        </div>
    </div>
</section>

<div id="images-container" data-images="{{ images|join:',' }}"></div>

<section id="about" class="about">
    {% if team_info %}
        <div class="about-content">
            {% for info in team_info %}
                <div class="team-photo-container" data-photo-url="{{ info.photo.url }}">
                    <h2 class="title">{{ info.title }}</h2>
                    <p class="description">{{ info.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No description found.</p>
    {% endif %}
</section>

<div class="team-carousel">
    {% if team_members %}
        {% for member in team_members %}
            <div class="team-member">
                <img src="{{ member.photo.url }}" alt="{{ member.name }}" class="team-photo-small"/>
                <h3>{{ member.title }}</h3>
                <p>{{ member.description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No team members found.</p>
    {% endif %}
</div>

<p><strong>Вместе они — непобедимая сила, готовая спасти души, восстановить гармонию и даровать надежду всем, кто в этом нуждается!</strong></p>
{% endblock %}
